apiVersion: batch/v1
kind: Job
metadata:
  name: pi
spec:
  template:
    spec:
      containers:
      - name: busybox
        image: busybox
        command: ["echo", "K8S Jobs"]
      restartPolicy: Never
